@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}






/* main navigation top */

#main-nav {
    position: fixed !important;
    z-index: 100;
    padding: 0 0.5vw;
    /* border-bottom: 2px solid #444; */
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    z-index: 99999;
    width: 100vw;
    margin-bottom: 0vh;
    background-color: transparent;
    height: 7vh;
    display: flex;
    justify-content: space-between;
}

#main-nav a {
    text-decoration: none;
    color: #222222;
    z-index: 90;
}


/* main navigation left side part */

#main-nav-left {
    width: 25vw;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0vw 20px;
    padding-left: 3vw;
    align-items: center;
    overflow: hidden;
}

#main-nav-left img {
    z-index: 90;
    height: 2.3vw;
}

#main-nav-line {
    z-index: 90;
    width: 2px;
    margin: 0 1vw;
    height: 40%;
    background-color: rgb(157, 157, 157);
}

#main-nav-left a {
    font-size: 1.1vw;
}

#main-nav-left a h4 {
    font-weight: 600;
}


/* main navigation right part */

#main-nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.2vw;
    width: 55%;
    height: 100%;
    margin-right: 20px;
}

#main-nav-right a:hover {
    color: grey;
    transition: 0.3s ease-out;
}



/* main Body starts here */

#main {
    width: 100%;
    height: 100%;
}

/* page one , left side part */

#page-1 {
    display: flex;
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
}

#page-1-left {
    display: flex;
    width: 50%;
    height: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;

}

#page-1-main {
    height: 60%;
    width: 82%;
    font-size: 1.8vw;
    font-weight: 900;
    margin-bottom: 10%;
}

#page-1-main h1 {
    line-height: 70px;
}

.cool-text-green {
    color: #289e8a;
}

.check-icon {
    display: flex;
    width: 30px;
    align-items: center;
    height: 30px;
    justify-content: center;
    background-color: #289e8a;
    border-radius: 50%;
}

#page-1-main h6 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    font-size: 16px;
}

.exp-button {
    display: inline-block;
    text-decoration: none;
    padding: 1.5vw 2vw;
    font-size: 1vw;
    margin-top: 3vw;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    background-color: #289e8a;
}

#bottom-text-main {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

.green-leaf-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #A5DDD4;
    border-radius: 50%;
}

.green-leaf-circle img {
    width: 50%;
}

.small-tiny-text {
    font-size: 13px;
}




/* Page right side part */

#page-1-right {
    width: 50%;
    height: 100%;
    background-color: rgb(219, 236, 37);
    background-image: url(assets/asset\ 28.jpeg);
    background-size: cover;
    background-position: center;

}